@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: KumbhSans;
    src: url(../src/assets/fonts/static/KumbhSans-Medium.ttf);
}

input,textarea,select{
    background-color: white !important;
}
.active{
    background-color: #509CDB;
}
body{
    background-color:#FCFAFA;
    color: #4F4F4F;
    font-family: KumbhSans;
}